.tabs {
    margin: 0;
    padding: 0;
}

.tabs__item {
    display: inline;
    font-family: "Segoe UI light", "Arial", sans-serif;
    font-size: 28px;
    margin: 0 30px 0 0;
    padding: 0;
}

.tabs__item a, .tabs__item a:active, .tabs__item a:visited, .tabs__item a:hover {
    color: #859a80;
    text-decoration: none;
}

.tabs__item a:hover { color: #66ccff; }

.tabs__item_active a, .tabs__item_active a:active, .tabs__item_active a:visited, .tabs__item_active a:hover {
    color: #fff;
    cursor: default;
    text-decoration: none;
}