.nav {
    font-family: "Segoe UI light";
    font-size: 36px;
    overflow: hidden;
    padding: 20px 0 0 0;
}

.nav__left,
.nav__right {
    border: none;
    font-family: "Segoe UI light";
    font-size: 36px;
    line-height: 28px;
    min-height: 40px;
    padding-bottom: 9px;
    text-decoration: none;
}

.nav__left {
    background: no-repeat left 1px url(nav__left.png);
    color: #0099ff;
    float: left;
    padding-left: 48px;
    text-align: right;
}

.nav__left:hover {
    background: no-repeat left 1px url(nav__left_a.png);
    color: #33ccff;
}

.nav__right {
    background: no-repeat right 1px url(nav__right.png);
    color: #ff9900;
    float: right;
    padding-right: 48px;
    text-align: right;
}

.nav__right:hover {
    background: no-repeat right 1px url(nav__right_a.png);
    color: #ffcc33;
}

.nav__right-small {
    display: block;
    font-size: 13px;
    margin: 5px 0 0 0;
    text-decoration: none;
}