.page {
    background: #183b56;
    color: #fff;
    min-height: 100%;
}

.page_green { background: #0b3500; }

.page_green nav { background: #000; }

.page__wrapper {
    margin: 0 auto;
    width: 1130px;
}

.page_conference-seats .page__wrapper,
.page_create-conf .page__wrapper,
.page_registration .page__wrapper {
    padding-left: 60px;
    width: 1070px;
}

.page_conference .page__wrapper {
    padding-left: 0;
    width: 1130px;
}

nav {
    background: #0e2d44;
    height: 22px;
    padding-top: 4px;
}

.page_conference-seats nav .page__wrapper,
.page_create-conf nav .page__wrapper {
    margin: 0 auto;
    padding-left: 0;
    width: 1130px;
}

.page__head {
    font-family: "Segoe UI light", Arial, sans-serif;
    font-size: 45px;
    left: -2px;
    line-height: 32px;
    min-height: 75px;
    overflow: hidden;
    padding-bottom: 13px;
    padding-top: 37px;
    position: relative;
}

.page__head-note { font-size: 28px; }

.page__content { }

.page__likes { margin-top: 20px; }

.page__likes .page__wrapper {
    padding-right: 187px;
    text-align: right;
    width: 943px;
}

.page__menu {
    margin: 23px auto -10px;
    width: 1130px;
}

div.lightbox { display: none; }

.lightbox-bg {
    background: #000;
    filter: alpha(opacity: 75);
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: fixed;
    top: 0;
    width: 100%;
    _position: absolute;
    _top: expression(parseInt(document.body.scrollTop) + "px");
}

table.lightbox {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    _position: absolute;
    _top: expression(parseInt(document.body.scrollTop) + "px");
}

td.lightbox {
    text-align: center;
    vertical-align: middle;
}

.lightbox-content {
    background: #fff;
    display: inline-block;
    position: relative;
    text-align: left;
}

.lightbox-content_delete {
    background: #ffcc00 url(lightbox-content_delete.gif) 20px 20px no-repeat;
    padding: 0 30px 30px 85px;
    width: 248px;
}

.lightbox-content__title {
    color: #333333;
    font-family: Segoe UI Light;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 35px;
    padding: 24px 0 0;
}

.lightbox-content_delete__q {
    color: #333333;
    font-size: 15px;
    padding: 30px 0 0;
}

.lightbox-content_delete__action { padding: 26px 0 0; }

.lightbox-content_delete__action__no, .lightbox-content_delete__action__no:active, .lightbox-content_delete__action__no:visited, .lightbox-content_delete__action__no:hover {
    background: #ff6600 url(lightbox-content_delete__action__no.gif) 60px 8px no-repeat;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 0 34px 0 0;
    text-align: center;
    text-decoration: none;
    width: 60px;
}

.lightbox-content_delete__action__yes, .lightbox-content_delete__action__yes:active, .lightbox-content_delete__action__yes:visited, .lightbox-content_delete__action__yes:hover {
    background: #ff6600 url(lightbox-content_delete__action__yes.gif) 60px 8px no-repeat;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    margin: 0 0 0 30px;
    padding: 0 34px 0 0;
    text-align: center;
    text-decoration: none;
    width: 60px;
}