.content {
    background: #2f7d00;
    min-height: 30px;
    padding: 20px;
}

.content_login {
    background: #2f7d00 url(content_login.gif) 38px 37px no-repeat;
    margin-top: 20px;
    padding-left: 150px;
    padding-top: 10px;
    width: 320px;
}

.content_reg {
    background: #2f7d00 url(content_reg.gif) 38px 37px no-repeat;
    display: none;
    margin-top: 20px;
    padding-left: 150px;
    padding-top: 10px;
    width: 320px;
}

.content_error { background: #cc6600; }

.content_error__txt { font-size: 15px; }

.content p {
    line-height: 18px;
    padding-top: 5px;
}

.content h3 {
    font-size: 20px;
    line-height: 1;
    padding-bottom: 20px;
    padding-top: 21px;
}

.content table {
    vertical-align: top;
    width: 100%;
}

.content th {
    background: #205501;
    border-bottom: 1px solid #2f7d00;
    font-size: 13px;
    padding: 5px 25px 8px 10px;
    vertical-align: top;
}

.content td {
    background: #fff;
    border-bottom: 1px solid #2f7d00;
    
    color: #000;
    font-size: 15px;
    padding: 13px 20px 18px 10px;
    vertical-align: top;
}

.content .content__table_seats-edit td { color: #8d9092; }

.content__link_pseudo {
    border-bottom: 1px dashed;
    color: #0066cc;
    display: inline-block;
    line-height: 15px;
    text-decoration: none;
}

.content .content__table-cell_right {
    padding-right: 0;
    text-align: right;
}

.content .content__table-cell_left { }

.content__table_first-cell-wide td:first-child { width: 255px; }

.content .content__note {
    color: #999999;
    font-size: 11px;
    letter-spacing: -1px;
    line-height: 13px;
}

.content .content__cell_total {
    font-size: 20px;
    font-weight: bold;
}

.content select { width: 61px; }

.content tr.content__table__error td {
    border-bottom: solid 2px #ff6600;
    border-top: solid 2px #ff6600;
}

.content tr.content__table__error td:first-child { background: #fff url(content__table__error.gif) left top repeat-y; }

.content tr.content__table__error td:last-child { background: #fff url(content__table__error.gif) right top repeat-y; }

.content td.content__table__error-info {
    background: #ff6600;
    color: #fff;
    line-height: 33px;
    padding: 2px 20px 3px 10px;
    width: auto;
}

.content .content__table__h2 td {
    background: none;
    color: #ffffff;
    font-size: 20px;
}

.content td a, .content td a:active, .content td a:visited, .content td a:hover,
.content .content__table_seats-edit .seats__edit td a, .content .content__table_seats-edit .seats__edit td a:active, .content .content__table_seats-edit .seats__edit td a:visited, .content .content__table_seats-edit .seats__edit td a:hover { color: #0156ab; }

.content .content__table_seats-edit td a, .content .content__table_seats-edit td a:active, .content .content__table_seats-edit td a:visited, .content .content__table_seats-edit td a:hover { color: #80aad5; }

.content td a.red, .content td a.red:active, .content td a.red:visited, .content td a.red:hover { color: #cc3300; }

.content .content__table_seats-edit td a.red, .content .content__table_seats-edit td a.red:active, .content .content__table_seats-edit td a.red:visited, .content .content__table_seats-edit td a.red:hover { color: #e5997f; }

.content td a.green, .content td a.green:active, .content td a.green:visited, .content td a.green:hover { color: #2f7d00; }

.content .content__table_seats-edit td a.green, .content .content__table_seats-edit td a.green:active, .content .content__table_seats-edit td a.green:visited, .content .content__table_seats-edit td a.green:hover { color: #7da466; }

/*.content .content__table__grey td {
	background: #cccccc;
	}*/

.content table tr:nth-child(even) td { background: #eeeeee; }

.content .content__table__pub {
    padding-right: 0;
    width: 70px;
}

.content .content__table__delete {
    padding-left: 5px;
    width: 50px;
}

.content .seats-type__name a, .content .seats-type__name a:visited, .content .seats-type__name a:active, .content .seats-type__name a:hover {
    border-bottom: dotted 1px #4180c0;
    text-decoration: none;
}

.content .content__table_seats-edit .seats-type__name a, .content .content__table_seats-edit .seats-type__name a:visited, .content .content__table_seats-edit .seats-type__name a:active, .content .content__table_seats-edit .seats-type__name a:hover {
    border-bottom: dotted 1px #a0bfdf;
    color: #80aad5;
    text-decoration: none;
}

.content .seats-type-add a, .content .seats-type-add a:visited, .content .seats-type-add a:active, .content .seats-type-add a:hover {
    border-bottom: dotted 1px #4180c0;
    text-decoration: none;
}

.content__table__also-req { width: 150px; }

.content .seats__edit td { border-bottom: none; }

.content .seats__edit { display: none; }

.content .seats__edit .form__but-box {
    margin: 0;
    padding: 0;
    text-align: center;
}

.content .seats__edit .form__but-box .form__but { margin: 0 10px 0; }

.content .seats__edit td {
    line-height: 25px;
    padding: 12px 10px 12px 4px;
}

.content .seats__edit .form__field { margin: 0 0 0 0; }

.content .seats__edit a, .content .seats__edit a:active, .content .seats__edit a:visited, .content .seats__edit a:hover {
    border-bottom: dotted 1px #4180c0;
    text-decoration: none;
}

.content .seats__edit.form-select-pad { top: 0; }
	
	
.content__create-conf { }

.content__create-conf a, .content__create-conf a:visited, .content__create-conf a:active, .content__create-conf a:hover {
    background: #2f7d00 url(content__create-conf.gif) 10px 10px no-repeat;
    color: #fff;
    display: block;
	
    float: right;
    font-family: Segoe UI Light;
    font-size: 28px;
    height: 40px;
    line-height: 36px;
    margin: -105px -20px 0 0;
    padding: 0 20px 0 48px;
    position: relative;
	
    text-decoration: none;
}

.content__create-conf a:hover {
    border: solid 5px #2f7d00;
	
    color: #fff;
	
    margin: -110px -25px 0 0;
	
    text-decoration: none;
}

.avail-from, .avail-to {
    border-bottom: dotted 1px #272727;
    color: #272727;
    cursor: pointer;
}