.menu { }

.menu__list {
    overflow: hidden;
    padding-top: 8px;
}

.menu__item {
    float: left;
    margin-right: 23px;
}

.menu__item_active, .menu__item_active a {
    color: #fff;
    font-weight: bold;
}

.menu__item a {
    color: #cccccc;
    text-decoration: none;
}

.menu__item a:hover { color: #66ccff; }

.menu__back {
    background: url(menu__back.png);
    display: inline-block;
    height: 32px;
    margin-right: 5px;
    position: relative;
    top: -8px;
    width: 32px;
}