.likes { }

.likes__link {
    background: url(likes_sprite.png);
    display: inline-block;
    height: 21px;
    margin-left: 10px;
    width: 21px;
}

*:first-child + html .likes__link {
    display: inline;
    zoom: 1;
}

.likes__link_facebook { background-position: 0 0; }

.likes__link_mail { background-position: -21px 0; }

.likes__link_twitter { background-position: -42px 0; }