.form { }

.form__fieldset {
    margin: 0;
    padding: 0;
    width: 320px;
}

.form__fieldset:nth-child(odd) { float: left; }

.form__fieldset:nth-child(even) { float: right; }

.form__col3 { margin: 0 0 0 -20px; }

.form__col3 .form__fieldset:first-child {
    float: left;
    margin: 0 0 0 20px;
    width: 170px;
}

.form__col3 .form__fieldset {
    float: left;
    margin: 0 0 0 40px;
    width: 195px;
}

.form__fieldset_textarea {
    float: none;
    width: 100%;
}

.content_login .form__fieldset { float: none; }

.content_reg .form__fieldset { float: none; }

.form__label, label {
    display: block;
    font-size: 15px;
    padding: 15px 0 0;
}

.form__field {
    background: #fff;
    border: solid 1px #abadb3;
    margin: 3px 0 0;
    /*padding: 0 7px 0;*/
    padding: 0 0px 0;
}

.form__field input {
    border: none;
    color: #333333;
    /*padding: 0;*/
    font-size: 15px;
    height: 24px;
    line-height: 24px;
    margin: 0 0 0 0;
    padding: 0 7px;
    text-align: left;
    width: 100%;
}

.form__field pre {
    background-color: #DDDDDD;
    border: none;
    color: #777777;
    font-family: "Segoe UI", "Arial", sans-serif;
    /*padding: 0;*/
    font-size: 15px;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    margin: 0 0 0 0;
    padding: 0 7px;
    text-align: left;
    width: 100%;
}

.form__field textarea {
    border: none;
    color: #333333;
    /*padding: 5px 0;*/
    font-size: 15px;
    height: 117px;
    line-height: 24px;
    margin: 0 0 0 0;
    padding: 5px 7px;
    text-align: left;
    width: 100%;
}

.form__field_file { width: 229px; }

.form__field_file-input {
    cursor: pointer;
    height: 26px;
    margin: -1px 0 0 -8px;
    position: absolute;
    width: 320px;
}

.form__field_file-input input {
    cursor: pointer;
    filter: alpha(opacity: 0);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.form__field_file-input * { cursor: pointer; }

.form__rb_m { margin: 10px 0 15px 0; }

.form__rb { }

.form__rb__title {
    display: inline;
    font-size: 15px;
    padding: 0 20px 0 0;
}

.form__rb__item {
    background: url(form__rb__item.png) left 2px no-repeat;
    font-size: 15px;
    padding: 0 15px 0 25px;
}

.form__rb__item_a { background: url(form__rb__item_a.png) left 2px no-repeat; }

.form__chb { margin: 15px 0 0; }

.form__chb_seats { line-height: 30px; }

.form__chb__item {
    background: url(form__chb__item.png) left 0 no-repeat;
    font-size: 15px;
    line-height: 20px;
    padding: 0 0 0 35px;
}

.seats__edit .form__chb__item { color: #272727; }

div.form__chb__item {
    background: url(form__chb__item.png) left 0 no-repeat;
    cursor: pointer;
    display: inline;
}

.form__chb__item_a { background: url(form__chb__item_a.png) left 0 no-repeat; }

div.form__chb__item_a { background: url(form__chb__item_a.png) left 0 no-repeat; }

.form__chb_seats {
    height: 31px;
    line-height: 40px;
    padding: 0 0 0;
}

.form__chb_remember {
    float: right;
    margin-top: 23px;
}

.form__seats-select {
    display: inline;
    display: none;
    font-size: 15px;
    line-height: 20px;
}

.form .form-select-pad {
    margin: 3px 0 0;
    top: 0;
}

.form-select-pad {
    position: relative;
    top: -5px;
}

.seats__edit .form-select-pad, .form__seats-select .form-select-pad {
    display: inline-block;
    top: 0;
}

.form-select {
    background: #ffffff;
    border: solid 1px #abadb3;
    height: 24px;
    min-width: 59px;
    position: relative;
}

.form__seats-select .form-select { display: inline-block; }

.form__seats-select .form-select__drop-down { background: #b42f03 url(form-select__drop-down.png) 50% 9px no-repeat; }

.form-select__drop-down, .form__seats-select_green .form-select__drop-down {
    background: #205501 url(form-select__drop-down.png) 50% 9px no-repeat;
    cursor: pointer;
    height: 22px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 22px;
}

.form-select__active {
    color: #1c2126;
    cursor: pointer;
    font-size: 15px;
    height: 24px;
    line-height: 24px;
    padding: 0 30px 0 5px;
}

div.form-select__options {
    background: #fff;
    border: solid 1px #abadb3;
    left: -1px;
    max-height: 124px;
    overflow: auto;
    position: absolute;
    top: 24px;
    width: 100%;
    z-index: 1000;
}

.form-select__options__active-item, .form-select__options__item {
    color: #1c2126;
    font-size: 15px;
    height: 24px;
    line-height: 24px;
    padding: 0 5px 0 5px;
}

.form-select__options__active-item:hover, .form-select__options__item:hover { background: #ddd; }

.form-select__options__active-item { display: none; }

.form-select-checkbox {
    background: #ffffff;
    border: solid 1px #abadb3;
    display: none;
    min-width: 200%;
    position: absolute;
    right: -1px;
    top: 25px;
}

.form-select .form__chb__item {
    background: url(form__select-chb__item.gif) left 0 no-repeat;
    display: block;
    line-height: 18px;
    margin-bottom: 7px;
    margin-left: 5px;
    margin-top: 7px;
    padding: 0 0 2px 30px;
}

.form-select .form__chb__item_a { background: url(form__select-chb__item_a.gif) left 0 no-repeat; }

	
.form-promo {
    display: none;
    height: 26px;
    margin: -3px 0 0;
}

.form-promo__txt {
    border: solid 1px #abadb3;
    color: #1c2126;
    float: left;
    font-size: 15px;
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
    padding: 0 7px;
    text-align: left;
    width: 175px;
}

.form-promo__but {
    background: #205501;
    border: none;
    color: #fff;
    font-size: 15px;
    height: 26px;
    line-height: 26px;
    width: 66px;
}

.form__but-box { margin: 20px 0 0; }

.form__but-box_file {
    float: right;
    margin: 3px 0 0;
}

.form__but {
    background: #205501;
    border: none;
    color: #ffffff;
    font-family: Segoe UI;
    font-size: 15px;
    height: 26px;
    line-height: 16px;
}

.form__forgot-link {
    float: right;
    font-size: 15px;
    margin: 25px 0 0;
}

.form__file-logo {
    background: #fff;
    height: 140px;
    left: 50%;
    margin: 0 0 0 207px;
    position: absolute;
    text-align: center;
    top: 207px;
    width: 140px;
}

.form__file-logo__valign {
    display: inline-block;
    height: 140px;
    vertical-align: middle;
}

.form__file-logo__txt {
    background: #2f7d00;
    bottom: 0;
    color: #ffffff;
    filter: alpha(opacity: 85);
    font-size: 18px;
    left: 0;
    opacity: 0.85;
    padding: 9px 10% 12px;
    position: absolute;
    text-align: left;
    width: 80%;
}

.datapicker-abs {
    background: #2f7d00;
    border: solid 1px #fff;
    display: none;
    padding: 15px 20px;
}